/* Variables de colores */
$primary-color: #0b4863;
$contrast-color: #05313c;
$secondary-color: #e07b4f;
$terciary-color: #d8d8d8;

/* Degradado */
$degradado: linear-gradient(180deg, #0b4863 0%, #05313c 60%);
