/*VARIABLES GOBLALES*/

@use "fontface";
@use "mixin";

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: mixin.$primary-color;
  font-family: "Montserrat", sans-serif;
  color: mixin.$terciary-color;
  padding-top: 100px;
}

.orange {
  color: mixin.$secondary-color;
}

.contrast {
  background-color: mixin.$contrast-color;
}

/* Styles de index */

.navbar-style {
  background: mixin.$degradado;
}

footer {
  background: mixin.$degradado2;
}

.navbar-img {
  width: 200px;
}

.nav-item a {
  color: mixin.$secondary-color;
}

.title {
  font-size: xx-large;
  margin: 30px 0px 30px 0px;
  color: mixin.$secondary-color;
}

.nav-link:focus,
.nav-link:active,
.nav-link:hover {
  color: mixin.$secondary-color;
  text-decoration: underline;
}

#ofertas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ofertas-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 60%;
}

.product-card {
  background-color: mixin.$contrast-color;
  padding: 10px;
  border-radius: 8px;
  gap: 10px;
}

.product-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h2 {
  font-size: larger;
}

.badge {
  top: 5px;
  right: 5px;
  background-color: mixin.$secondary-color;
}

.price {
  color: mixin.$secondary-color;
  font-family: "MontserratBold";
}

.product-card p {
  text-transform: uppercase;
  font-size: x-small;
  letter-spacing: 2px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 60%;
}

.card-excursion {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.card-excursion img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card-excursion h2 {
  font-size: medium;
  margin: 10px 0px 10px 0px;
  font-weight: 400;
  text-align: center;
}

.ofertas-container a {
  text-decoration: none;
  color: mixin.$terciary-color;
}

#productos a {
  text-decoration: none;
  color: mixin.$terciary-color;
}

.ofertas-container a article:hover {
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.grid-contacto {
  width: 60%;
  background-color: mixin.$contrast-color;
}

.card-excursion:hover h2 {
  color: mixin.$secondary-color;
  transition: all 0.5s;
}

.card-excursion:hover img {
  border: 1px;
  border-style: solid;
  border-color: white;
}

.btn {
  background-color: mixin.$secondary-color;
  color: mixin.$terciary-color;
}

.btn:hover {
  background-color: #9c5334;
  color: mixin.$terciary-color;
}

@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }

  .navbar-img {
    width: 150px;
  }

  .logo {
    width: 200px;
  }

  .ofertas-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
  }

  .product-card h2 {
    font-size: small;
    margin: 10px 0px 10px 0px;
    font-weight: 400;
  }

  .product-card p {
    text-transform: uppercase;
    font-size: xx-small;
    letter-spacing: 2px;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
  }

  .card-excursion {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  .card-excursion img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .card-excursion h2 {
    font-size: medium;
    margin: 10px 0px 10px 0px;
    font-weight: 400;
    text-align: center;
  }

  .title {
    font-size: larger;
    margin: 30px 0px 30px 0px;
    color: mixin.$secondary-color;
    text-align: center;
  }

  .grid-contacto {
    width: 100%;
    background-color: mixin.$contrast-color;
  }

  .card-excursion h2 {
    font-size: small;
  }
}

.parag-light {
  font-family: "MontserratLight";
}

/* Solucion a lista con comas: https://markheath.net/post/css-comma-separated-list */

.list {
  display: inline;
  list-style-type: none;
  padding: 0px;
}
.list li {
  display: inline;
}
.list li::after {
  content: ",";
}
.list li:last-child::after {
  content: "";
}

th,
td {
  border: 1px solid mixin.$secondary-color;
}
table {
  border-collapse: collapse;
  background-color: mixin.$contrast-color;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

th,
td {
  padding: 5px;
}

.excursiones-titulo {
  color: #d26e43;
  font-family: "MontserratBold";
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.seccion-tabla {
  margin-top: 5px;
}
