/*VARIABLES GOBLALES*/
/* Font Face */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MontserratLight";
  src: url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Variables de colores */
/* Degradado */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #0b4863;
  font-family: "Montserrat", sans-serif;
  color: #d8d8d8;
  padding-top: 100px;
}

.orange {
  color: #e07b4f;
}

.contrast {
  background-color: #05313c;
}

/* Styles de index */
.navbar-style {
  background: linear-gradient(180deg, #0b4863 0%, #05313c 60%);
}

footer {
  background: linear-gradient(180deg, #05313c 40%, #0b4863 80%);
}

.navbar-img {
  width: 200px;
}

.nav-item a {
  color: #e07b4f;
}

.title {
  font-size: xx-large;
  margin: 30px 0px 30px 0px;
  color: #e07b4f;
}

.nav-link:focus,
.nav-link:active,
.nav-link:hover {
  color: #e07b4f;
  text-decoration: underline;
}

#ofertas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ofertas-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 60%;
}

.product-card {
  background-color: #05313c;
  padding: 10px;
  border-radius: 8px;
  gap: 10px;
}

.product-card img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h2 {
  font-size: larger;
}

.badge {
  top: 5px;
  right: 5px;
  background-color: #e07b4f;
}

.price {
  color: #e07b4f;
  font-family: "MontserratBold";
}

.product-card p {
  text-transform: uppercase;
  font-size: x-small;
  letter-spacing: 2px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 60%;
}

.card-excursion {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.card-excursion img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card-excursion h2 {
  font-size: medium;
  margin: 10px 0px 10px 0px;
  font-weight: 400;
  text-align: center;
}

.ofertas-container a {
  text-decoration: none;
  color: #d8d8d8;
}

#productos a {
  text-decoration: none;
  color: #d8d8d8;
}

.ofertas-container a article:hover {
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.grid-contacto {
  width: 60%;
  background-color: #05313c;
}

.card-excursion:hover h2 {
  color: #e07b4f;
  transition: all 0.5s;
}

.card-excursion:hover img {
  border: 1px;
  border-style: solid;
  border-color: white;
}

.btn {
  background-color: #e07b4f;
  color: #d8d8d8;
}

.btn:hover {
  background-color: #9c5334;
  color: #d8d8d8;
}

@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }
  .navbar-img {
    width: 150px;
  }
  .logo {
    width: 200px;
  }
  .ofertas-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
  }
  .product-card h2 {
    font-size: small;
    margin: 10px 0px 10px 0px;
    font-weight: 400;
  }
  .product-card p {
    text-transform: uppercase;
    font-size: xx-small;
    letter-spacing: 2px;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
  }
  .card-excursion {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  .card-excursion img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .card-excursion h2 {
    font-size: medium;
    margin: 10px 0px 10px 0px;
    font-weight: 400;
    text-align: center;
  }
  .title {
    font-size: larger;
    margin: 30px 0px 30px 0px;
    color: #e07b4f;
    text-align: center;
  }
  .grid-contacto {
    width: 100%;
    background-color: #05313c;
  }
  .card-excursion h2 {
    font-size: small;
  }
}
.parag-light {
  font-family: "MontserratLight";
}

/* Solucion a lista con comas: https://markheath.net/post/css-comma-separated-list */
.list {
  display: inline;
  list-style-type: none;
  padding: 0px;
}

.list li {
  display: inline;
}

.list li::after {
  content: ",";
}

.list li:last-child::after {
  content: "";
}

th,
td {
  border: 1px solid #e07b4f;
}

table {
  border-collapse: collapse;
  background-color: #05313c;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

th,
td {
  padding: 5px;
}

.excursiones-titulo {
  color: #d26e43;
  font-family: "MontserratBold";
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.seccion-tabla {
  margin-top: 5px;
}

.etiqueta-oferta {
  background-color: #e07b4f;
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: bold;
  margin-left: 8px;
  display: inline-block;
} /*# sourceMappingURL=style.css.map */
